test*
*.log


wiki.zh.vector
wiki_zh-vec.npy
wiki_zh-vocab.pkl

all_edges.jsonl
all_nodes.pkl

__pycache__
.ipynb_checkpoints

docs

ckiptagger

data/
data/corpus
data/network/*.pkl

0304討論.txt

paper
jieba_zh_TW
